@font-face {
  font-family: FortescuePro-Bold;
  src: url("/fonts/FortescuePro-Bold.otf");
}
@font-face {
  font-family: transcript_bold;
  src: url("/fonts/transcript_bold.otf");
}
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
}
.hljs,
.hljs-subst {
  color: #444;
}
.hljs-comment {
  color: #888;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #800;
}
.hljs-title,
.hljs-section {
  color: #800;
  font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #bc6060;
}
.hljs-literal {
  color: #78a960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #397300;
}
.hljs-meta {
  color: #1f7199;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
body {
  background-color: #9e9ea0;
  font-family: 'Averia Serif Libre', cursive;
  margin: 0;
  color: #222627;
}
body ::-moz-selection {
  background: #434ea0;
  color: #fff;
}
body ::selection {
  background: #434ea0;
  color: #fff;
}
body a {
  outline: none;
  color: #222627;
  text-decoration: none;
  transition: color 0.2s;
}
body a:hover {
  color: #434ea0;
}
body h1 {
  font-family: 'FortescuePro-Bold', serif;
  text-align: center;
}
body header {
  height: 800px;
  width: 100%;
  position: relative;
}
body header .intro {
  box-sizing: border-box;
  padding: 30px;
  width: 320px;
  height: 380px;
  border: 1px solid #222627;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}
body header .intro p:nth-child(1) {
  font-size: 0.8rem;
  margin: 0;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
}
body header .intro p:nth-child(2) {
  font-size: 0.7rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  margin: 10px 10px 6px 10px;
}
body header .intro p.first-line {
  margin-top: 25px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
body header .intro p:nth-child(5) {
  font-size: 0.7rem;
  text-align: left;
  line-height: 0.9rem;
}
body header .intro h2 {
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-top: 20px;
}
body header .intro h2:before {
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #222627;
  display: block;
  margin: 2px 0 20px 0;
}
body header .intro h2 a {
  font-style: normal;
}
body header .intro h1 {
  margin: 0;
  font-size: 3rem;
  line-height: 2.5rem;
}
body .link {
  display: block;
  padding-top: 25px;
  text-decoration: none;
  color: #222627;
  cursor: pointer;
}
body .link:hover {
  color: #222627;
}
body h1.title {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  position: relative;
}
body h1.title:after {
  content: " ";
  width: 75px;
  height: 2px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #9e9ea0;
}
body p,
body ul {
  font-size: 1rem;
  line-height: 1.4rem;
}
body li {
  margin-bottom: 8px;
}
body .reactions {
  text-align: center;
  margin: 30px 0;
}
body .reactions div {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 25px;
}
body .reactions div:before {
  content: attr(data-count);
  width: 25px;
  height: 25px;
  text-align: left;
  display: inline-block;
  position: relative;
  left: -25px;
  top: 5px;
}
body .reactions div:first-child {
  display: none;
}
body #error {
  display: none;
}
body nav {
  background-color: #f4f2ea;
  height: 25px;
  padding-top: 25px;
  position: relative;
  with: 100%;
}
body nav span {
  display: block;
  margin: 0 auto;
  font-size: 1.75rem;
  text-align: center;
}
body #posts {
  background-color: #f4f2ea;
  padding-bottom: 100px;
}
body #posts .post {
  max-width: 650px;
  margin: 0 auto;
  padding: 60px 20px 20px 20px;
}
body #posts .post .labels {
  text-align: center;
  margin: 50px 0;
}
body #posts .post .labels span {
  padding: 5px 10px 4px 10px;
  border: 2px solid #222627;
  margin: 5px;
  font-family: 'transcript_bold', sans-serif;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.09rem;
  transition: all 0.2s;
  cursor: default;
}
body #posts .post .labels span:hover {
  border: 2px solid #9e9ea0;
  color: #9e9ea0;
}
body #posts .post .body h1 {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  margin: 60px 20px 30px 20px;
}
body #posts .post .body a {
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 2px solid #9e9ea0;
}
body #posts .post .body a:hover {
  border-bottom: 2px solid #434ea0;
}
body #posts .post .body code {
  background: #fff;
  padding: 2px;
}
body #posts .post .body pre code {
  background-color: #fff;
  overflow: auto;
  display: block;
  padding: 20px;
  margin: 40px 0;
}
body #posts .post .body p img {
  max-width: 650px;
  width: 100%;
  border: 10px solid #fff;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}
body #posts .post .body blockquote {
  font-family: 'transcript_bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  text-align: center;
  padding: 10px 25px;
  margin: 40px;
  line-height: 26px;
  color: #222627;
}
body #posts .post .body ul {
  margin: 30px 0;
}
body #posts .post .summary {
  position: relative;
  border: 1px solid #222627;
  margin-top: 50px;
  margin-bottom: 40px;
  height: 160px;
}
body #posts .post .summary figure,
body #posts .post .summary .info {
  display: inline-table;
  vertical-align: middle;
}
body #posts .post .summary figure {
  text-align: center;
  border-right: 1px solid #222627;
  margin: 0;
  height: 160px;
  width: 160px;
}
body #posts .post .summary .info span {
  display: inline-table;
}
body #posts .post .summary .comment_box {
  position: absolute;
  right: 0px;
  top: 0px;
  border-left: 1px solid #222627;
  display: inline-table;
  height: 160px;
  width: 160px;
  padding-top: 60px;
  text-align: center;
  box-sizing: border-box;
}
body #posts .post .summary .user .avatar {
  background-size: cover;
  width: 95px;
  height: 95px;
  border-radius: 99em;
  margin-top: 20px;
}
body #posts .post .summary .created_at,
body #posts .post .summary .updated_at {
  margin: 22px;
}
body #posts .post .summary .created_at:before {
  content: "Date Created";
  display: block;
  font-family: 'transcript_bold', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin: 10px;
}
body #posts .post .summary .updated_at:before {
  content: "Date Updated";
  display: block;
  font-family: 'transcript_bold', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  margin: 10px;
}
body #posts .post .summary a.comments_url {
  display: block;
}
@media (max-width: 768px) {
  body header {
    height: 600px;
  }
  body #posts .post .body blockquote {
    margin: 0;
  }
  body #posts .post .summary {
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
  }
  body #posts .post .summary .info {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  body #posts .post .summary .info span {
    margin: 12px;
  }
  body #posts .post .summary .user,
  body #posts .post .summary .comment_box,
  body #posts .post .summary .reactions {
    display: none;
  }
}
