<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="./css/index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,700" rel="stylesheet">
    <!-- link href="https://fonts.googleapis.com/css?family=Merriweather|Poly" rel="stylesheet" -->
  </head>

  <body>
    <aside>
      ${index}
    </aside>

    <div id="posts" role="main">
      ${posts}
    </div>

    <script src="./bundle.js"></script>

  </body>
</html>
