.logos
  display flex

  .logo
    display flex
    border none !important

    &:hover
      border none !important

    img.sponsor
      margin auto
      width 100%

      &.pl
        height 40%
        width 60%

      &.wireline
        width 70%
