@font-face
  font-family FortescuePro-Bold
  src url(/fonts/FortescuePro-Bold.otf)

@font-face
  font-family transcript_bold
  src url(/fonts/transcript_bold.otf)

// Font Variables

$body = 'Averia Serif Libre', cursive
$display = 'FortescuePro-Bold', serif
$caption = 'transcript_bold', sans-serif

// Colours

$black = #222627
$gray = #9E9EA0
$cream = #F4F2EA
$white = #FFFFFF
$accent = #434EA0

@require './hljs.styl'

// Styling

body
  background-color #9E9EA0
  font-family $body
  margin 0
  color $black

  ::-moz-selection
    background $accent
    color $white
  ::selection
    background $accent
    color $white

  a
    outline none
    color $black
    text-decoration none
    transition color 0.2s
    &:hover
      color $accent

  h1
    font-family $display
    text-align center

  header
    height 800px
    width 100%
    position relative

    .intro
      box-sizing border-box
      padding 30px
      width 320px
      height 380px
      border 1px solid $black
      position absolute
      top 50%
      left 50%
      transform translateY(-50%) translateX(-50%)
      text-align center

      p:nth-child(1)
        font-size 0.8rem
        margin 0
        letter-spacing 0.6rem
        text-transform uppercase

      p:nth-child(2)
        font-size 0.7rem
        letter-spacing 0.6rem
        text-transform uppercase
        margin 10px 10px 6px 10px

      p.first-line
        margin-top 25px
        font-size 0.75rem
        text-transform uppercase
        letter-spacing 0.1rem

      p:nth-child(5)
        font-size 0.7rem
        text-align left
        line-height 0.9rem

      h2
        font-size 0.75rem
        font-weight normal
        text-transform uppercase
        letter-spacing 0.3rem
        margin-top 20px
        &:before
          content " "
          width 100%
          height 1px
          background-color $black
          display block
          margin 2px 0 20px 0
        a
          font-style normal

      h1
        margin 0
        font-size 3rem
        line-height 2.5rem

  .link
    display block
    padding-top 25px
    text-decoration none
    color $black
    cursor pointer

  h1.title
    font-size 2rem
    line-height 2.5rem
    letter-spacing 0.05rem
    position relative

    &:before
      content '⫗'
      position absolute
      opacity 0
      transition opacity 0.2s
      left 50%
      margin-left -12px
      top -35px

    &:hover:before
      opacity 1

    &:after
      content " "
      width 75px
      height 2px
      display block
      margin 0 auto
      margin-top 50px
      margin-bottom 50px
      background-color $gray

  p, ul
    font-size 1rem
    line-height 1.4rem

  li
    margin-bottom 8px

  .reactions
    text-align center
    margin 30px 0

  .reactions div
    width 30px
    height 30px
    background-repeat no-repeat
    display inline-block
    margin 0 25px
    &:before
      content attr(data-count)
      width 25px
      height 25px
      text-align left
      display inline-block
      position relative
      left -25px
      top 5px
    &:first-child
      display none

  #error
    display none

  nav
    background-color $cream
    height 25px
    padding-top 25px
    position relative
    with 100%

    span
      display block
      margin 0 auto
      font-size 1.75rem
      text-align center

  #posts
    background-color $cream
    padding-bottom 100px

    .post
      max-width 650px
      margin 0 auto
      padding 60px 20px 20px 20px

      .labels
        text-align center
        margin 50px 0

        span
          padding 5px 10px 4px 10px
          border 2px solid $black
          margin 5px
          font-family $caption
          text-transform uppercase
          font-size .7rem
          letter-spacing .09rem
          transition all 0.2s
          cursor default
          &:hover
            border 2px solid $gray
            color $gray

      .body
        h1
          font-size 1.25rem
          letter-spacing 0.05rem
          margin 60px 20px 30px 20px

        a
          font-weight bold
          padding-bottom 2px
          border-bottom 2px solid $gray
          &:hover
            border-bottom 2px solid $accent

        code
          background $white
          padding 2px

        pre
          code
            background-color $white
            overflow auto
            display block
            padding 20px
            margin 40px 0

        p
          img
            max-width 650px
            width 100%
            border 10px solid $white
            display block
            margin 0 auto
            box-sizing border-box

        blockquote
          font-family $caption
          text-transform uppercase
          letter-spacing 0.05rem
          text-align center
          padding 10px 25px
          margin 40px
          line-height 26px
          color $black

        ul
          margin 30px 0

      .summary
        position relative
        border 1px solid $black
        margin-top 50px
        margin-bottom 40px
        height 160px

        figure, .info
          display inline-table
          vertical-align middle

        figure
          text-align center
          border-right 1px solid $black
          margin 0
          height 160px
          width 160px

        .info
          span
            display inline-table

        .comment_box
          position absolute
          right 0px
          top 0px
          border-left 1px solid $black
          display inline-table
          height 160px
          width 160px
          padding-top 60px
          text-align center
          box-sizing border-box

        .user
          .avatar
            background-size cover
            width 95px
            height 95px
            border-radius 99em
            margin-top 20px

        .created_at, .updated_at
          margin 22px

        .created_at:before
          content "Date Created"
          display block
          font-family $caption
          text-transform uppercase
          font-size 0.8rem
          letter-spacing 0.05rem
          margin 10px

        .updated_at:before
          content "Date Updated"
          display block
          font-family $caption
          text-transform uppercase
          font-size 0.8rem
          letter-spacing 0.05rem
          margin 10px

        a.comments_url
          display block

@media (max-width: 768px)
  body
    header
      height 600px
    #posts .post
      .body
        blockquote
          margin 0
      .summary
        border none
        margin-top 0px
        margin-bottom 0px
        height 50px
        .info
          width 100%
          text-align center
          margin-top 20px
          span
            margin 12px
        .user, .comment_box, .reactions
          display none
